<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSE Bhavcopy Viewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <style>
        * {
            padding: 0;
            background-color: #000;
            color: #fff;
        }

        body {
            background-color: #000 !important;
            color: #fff;
        }

        #app {
            width: 100%;
            margin-bottom: 5em;
        }

        table {
            margin: auto;
            max-width: 80%;
        }

        footer {
            position: fixed;
            bottom: 0;
            padding: 1em 0;
            width: 100vw;
        }

        .input-group {
            max-width: 50%;
            margin: auto;
            margin-top: 5em;
        }

        #download {
            margin: 1em 0;
        }
    </style>
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="input-group mb-3">
            <input @keyup.enter="backendSearch" type="text" v-model="keyword" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button v-on:click="backendSearch" class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div id="download" class="text-center">
            <button v-on:click="downloadCsv" class="btn btn-outline-secondary" type="button">
                <i class="bi bi-download"></i>
                Download CSV
            </button>
        </div>
    
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Open</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Close</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredEntries">
                    <th scope="row">{{ entry.code }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.open }}</td>
                    <td>{{ entry.high }}</td>
                    <td>{{ entry.low }}</td>
                    <td>{{ entry.close }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="text-center">Copyright: Devdutt Shenoi Version: 0.0.1</footer>
    <script>
        async function getEntries(url, method, key) {
            return await axios({
                method: method,
                url: url,
                data: {
                    key: key
                },
                xsrfCookieName: 'csrftoken',
                xsrfHeaderName: 'X-CSRFToken',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
        }

        var app = new Vue({
            el: '#app',
            data: {
                keyword: '',
                entries: [{
                    code: 'LOADING',
                    name: 'LOADING',
                    open: 'LOADING',
                    high: 'LOADING',
                    low: 'LOADING',
                    close: 'LOADING'
                }, ]
            },
            created() {
                getEntries('/', 'post', '').then((res) => {
                    this.entries = res.data.entries;
                });
            },
            computed: {
                filteredEntries() {
                    return this.entries;
                }
            },
            methods: {
                backendSearch() {
                    getEntries('/', 'post', this.keyword).then((res) => {
                        this.entries = res.data.entries;
                    });
                },
                downloadCsv() {
                    const items = this.entries;
                    const replacer = (_, value) => value === null ? '' : value;
                    const header = Object.keys(items[0]);
                    const csv = [
                        header.join(','),
                        ...items.map(row => header.map(fieldName => JSON.stringify(row[fieldName],
                            replacer)).join(', '))
                    ].join('\r\n').replace(/['"]+/g, '');

                    let element = document.createElement('a');
                    element.style.display = 'none';
                    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(csv));
                    element.setAttribute('download', 'output.csv');

                    document.body.appendChild(element);
                    element.click();
                    document.body.removeChild(element);
                }
            }
        })
    </script>

</body>

</html>