* {
  padding: 0;
  background-color: #000;
  color: #fff;
}

body {
  background-color: #000!important;
  color: #fff;
}

#app {
  width: 100%;
  margin-bottom: 5em;
}

table {
  margin: auto;
  max-width: 80%;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em 0;
  width: 100vw;
}

.input-group {
  max-width: 50%;
  margin: auto;
  margin-top: 5em;
}

#download {
  margin: 1em 0;
}