* {
    padding: 0;
    background-color: #000;
    color: #fff;
}

#app {
    width: 100%;
}

table {
    margin: auto 10%;
    max-width: 80%;
}

footer {
    margin: 1em 0;
    width: 100vw;
}

.input-group {
    max-width: 50%;
    margin: auto;
    margin-top: 5em;
}

#download {
    margin: 1em 0;
}